* {
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-height: 100vh;
  font-family: Hack, monospace;
}
#root {
  width: 100%;
}
.cards {
  margin-top: 25px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  min-height: 70vh;
}
