.title {
    margin: 50px auto;
}
.title_input {
    width: 60%;
    margin-left: 20px;
    font-size: larger;
}
.tinyContainer {
    margin: 50px 150px;
}
.form {
    width: 69%;
    margin-top: 40px;
    margin-bottom: 50px;
}
.button{
    padding: 10px 20px;
  
  }
  .button:hover {
    padding: 15px 25px;
    background-color: bisque;
    cursor:pointer;    
  }