.container {
  width: 69%;
}
.form {
  margin-top: 50px;
}

.emailInput,
.password {
  margin-top: 50px;
  width: 50%;
  margin-bottom: 50px;
}
.button{
  padding: 10px 20px;

}
.button:hover {
  padding: 15px 25px;
  background-color: bisque;
  cursor:pointer;
}
